<div class="container">
	<div class="row">
		<h2>Selamat Datang</h2>
	</div>
	<div>
		<h3>USER</h3>
		<% @user.each do |users| %>
		<table>
			<tr>
				<td><%= users.id %></td>
				<td><%= link_to users.name, user_path(users) %></td>
				
			</tr>
		<% end %>
		</table>
	</div>
</div>